{% extends 'base.html.twig' %}
{% block title 'Tous les biens | Proprietes | Agence Loren Ipsum' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Loren Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis eligendi itaque labore laboriosam laborum maiores minima nesciunt repellat unde voluptatum. Asperiores, excepturi incidunt magni maxime molestiae omnis quod reprehenderit velit?</p>
    </div>

{% endblock %}